@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
}

*{
  margin:0;
  padding:0;
}

body{
  background:grey;
    font-family: 'Montserrat', sans-serif;
}

.container{
  position: relative;
top: 30px;
/*border: 1px dashed green;*/
width: 90vw;
height: auto;
margin: auto;
box-shadow: 2px 12px 5px 3px gray;
  
}

/*table start*/
table{
  /*table-layout: fixed;*/
  /*width: 100%;*/
}

/* Column widths are based on these cells */
th:nth-child(1) {
  width: 12%;
}
th:nth-child(2){
  width: 25%;
}
th:nth-child(3){
  width: 30%;
}
th:nth-child(4) {
  width: 25%;
}
th:nth-child(5) {
  width: 10%;
}


td:nth-child(1) a {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

td:nth-child(1) a:hover {
    color: blue;
    text-decoration:underline;
}


td:nth-child(5) {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}




/* table end*/


.grid{
  width:inherit;
  height:inherit;
  display:-ms-grid;
  display:grid;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  /* grid-template-rows:repeat(3,1fr); */
  -ms-grid-columns:(1fr)[3];
      grid-template-columns:repeat(3,1fr);  
  -webkit-perspective:864px;  
          perspective:864px;
  grid-gap:8px;
}

.card{
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;

  /*background:blue;*/
  /*border:1px dashed yellow;*/
  width:100%;
  height:100px;
  /*transition:transform 1s ease;*/
  -webkit-transition:-webkit-transform 1s cubic-bezier(0.69, -0.21, 0, 2.16);
  transition:-webkit-transform 1s cubic-bezier(0.69, -0.21, 0, 2.16);
  transition:transform 1s cubic-bezier(0.69, -0.21, 0, 2.16);
  transition: transform 1s cubic-bezier(0.69, -0.21, 0, 2.16), -webkit-transform 1s cubic-bezier(0.69, -0.21, 0, 2.16);
  cursor:pointer
}
/*
.card:hover{
  transform:rotateY(180deg);
  transition:transform 1s ease;
}
*/
.card-wrapper:hover .card{
  -webkit-transform:rotateY(180deg);
          transform:rotateY(180deg);
  -webkit-transition:-webkit-transform 1s ease;
  transition:-webkit-transform 1s ease;
  transition:transform 1s ease;
  transition:transform 1s ease, -webkit-transform 1s ease;
}



.front, .back{
  width:inherit;
  height:inherit;
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  /* align-content:center; */
  text-align:center;
  backface-visibility: hidden;
}

.front{
  /*background:#cbd5cb;*/
  background: #288bd6;
  text-transform:uppercase;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}





.back{
  background: #1b1c1dc2;
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
  color:white;
  font-size:1.2rem;
  overflow: hidden;
}

.hidden.details{
  display:none;
  position:absolute;
  width:200px;
  height:auto;
  background:grey;
  text-align:center;
}

.card .back::first-letter{
  text-transform:uppercase;
  /* color:red; */
}

.ui.table thead th {
    cursor: auto;
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34,36,38,.1);
    border-left: none;
    font-size: 1.7rem;
    font-weight: bolder;
}
.grid a::first-letter{
  text-transform:uppercase;
}

table{
    font-family: 'Montserrat', sans-serif;
}
/*
.flex{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  align-content:center;
}
*/
span{
  color: rgba(0,0,0,.95);
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

span {}

a{
  color:darkblue;
}

tr:nth-child(1),tr:nth-child(2),tr:nth-child(3){
  background: hsl(218, 51%, 81%);
}
tr:nth-child(4){
  background: hsl(187, 61%, 77%);
}

tr:nth-child(5){
  background: hsl(123, 45%, 72%);
}
tr:nth-child(6){
  background: #cbd992;
}
tr:nth-child(7){
  background: hsl(45, 62%, 71%);
}




/*
    not
    and
    only
*/


/*@media only screen and(min-width:768px){*/
  @media (max-width:1000px){
      .grid{
        -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);  
      }

      .front{
          font-size: 1.3rem;
      }

      .back{
          font-size:1rem;
      }

      td:nth-child(2){
        font-size:0.9rem;
      }
}


