*{
  padding:0;
  margin:0;
}

body,html{
  width:100vw;
  height:100vh;
  display: flex;
  /*justify-content*/
}

.container{
  width:90vw;
  height: 75vh;
  position:relative;
  /* top:50px; */
  margin:auto;
  /* border:1px dashed green; */
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  align-items: center;
  background: lavender;
  padding-top:7px;
  padding-bottom:7px;
}
.heading{
    /*margin-bottom:5px;*/
    text-decoration:underline;
}
.numbers-wrapper{
  width: 250px;
  /* height:600px; */
  display: flex;
  flex-direction: COLUMN;
  justify-content: center;
}

.item{
  padding:5px;
  width:inherit;
  height: 50px;
  flex-direction:row;
  align-content:center;
  justify-content:space-between;
  border: 1px SOLID #a09595;
  display:flex;
}

.item__name{
  display:flex;
  align-content:center;
  align-items:center;
  cursor:pointer;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.item__input-wrapper {
  display:flex;
  align-items:center;
  font-size: 20px;
}

.item__input-wrapper input{
  height:100%;
  width: 175px;
  font-size: 1.4rem;
  /* display: flex; */
  text-align: right;
}

.col{
  border:0.02px solid grey;
  width:180px;
  font-size: 1.1rem;
  /* background: rgb(191, 186, 186); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}  

