
.grid{
  display:grid;

}
.osi{
  grid-template-rows: repeat(7,100px);
  grid-column-gap: 5px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}

.layer{
  grid-template-columns: 60px 100px auto;
  /* border: 1px dashed #00f; */
  /* grid-column-gap: 30px; */
}

/* .layer__name:hover{
  cursor:pointer;
  color:green;
} */
.flex{
  display:flex;
}

.flex--center{
  align-items:center;
  align-content:center;
  justify-content:center;
}


.layer__description{
  /* display:none; */
  width:0;
  overflow:hidden;
  transition:width 0.5s ease;
  position: ;
}

.layer__description, .layer__name, .layer__number{
  border:1px solid green;
}

.stretch{
  width:100%;
}

embed{
  width:100%;
  height:400px;
}
/*changes*/

